.*
# Les document de suivi du développement du package
documents

!.github
# Le dossier généré par mkdocs.yml
site/

__pycache__
# Artefacts de build générés par setuptools/pip install -e
*.egg-info/
build/
dist/
